<title> Create New Contact </title>

<%= form_tag "/contacts", method: :post do %>
   <div>
     First Name: <br><input type="text" name="first_name"><br>
   </div>
   <br>
      <div>
     Middle Name: <br><input type="text" name="middle_name"><br>
   </div>
   <br>
   <div>
      Last Name: <br><input type="text" name="last_name"><br>
   </div>
   <br>
   <div>
      Email: <br><input type="text" name="email"><br>
   </div>
   <br>
   <div>
      Phone Number: <br><input type="text" name="phone_number"><br>
   </div>
   <br>
      <div>
      <br>Bio:<br>
      <textarea name="bio" rows="10" cols="30"></textarea>
   </div>
   <br>
   <div>
     Address: <br><input type="text" name="address"><br>
   </div>
   <br>
   <div>
     <input type="submit" value="Create Contact"> 
   </div> 
   <% end %>